html {
    font-family: rift, sans-serif;
    font-weight: 700;
    font-style: normal;
    width: 100%;
    font-weight: 200;
}
  
body {
    margin: 0;
}


/**********PAGE STYLING************/
.page {
    font-family: rift, sans-serif;
    font-weight: 700;
    font-style: normal;
    /*min heigh is screen heigh minus height of tab and top bar */
    min-height: calc(100vh - 85px);
    background-color: white;
    padding: 60px 0 30px 0;    
}

.page_1 {
    flex-direction: column;
    align-items: center;
}

/************* NAVIGATION ************/
.navbar {
    width: 100%;
    height: 60px;
    background-color: white;
    position: fixed;
    z-index: 2;
    display: flex;
    -webkit-box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.15);
    box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.15);
}

.navbar a {
    text-decoration: none;
    font-size: 24px;
    color: black;
    font-weight: 600;
    margin: 10px auto;
    float: right;
    padding: 15px;
}

.navbar a:hover {
    color: #3F438C;
}

.nav_opened{
    background-color: white;
    height: 100vh;
    right: 0;
    position: absolute;
    transition: 0.5s;
    width: 100%;
    flex-direction: column;
    display: flex;
}

.logo {
    width: 45px;
    padding: 10px;
}

.menu {
    text-decoration: none;
    border: none;
    background-color: transparent;
    margin: auto 25px auto auto;
    outline: none;
}

.close_btn {
    text-decoration: none;
    border: none;
    background-color: transparent;
    margin: 20px 25px 0 auto;
    outline: none;
    font-size: 20px;
}

/********** HOME WELCOMING TEXT **********/
.header {
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: url(../img/home_back.png);
    background-repeat: no-repeat;
    background-position: -350% 100%;
    background-size: 90%;
}

.comma {
    display: flex;
    flex-direction: row;
}

.comma_img {
    width: 30px;
    height: 50px;
    align-self: flex-end;
}

h1 {
    font-size: 40px;
    margin: 0;
    color: #3F438C;
}

h2 {
    margin: 0;
    font-size: 40px;
}

h3 {
    font-size: 45px;
    margin: 70px 45px;
}

h4 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    text-align: right;
}

.welcoming_text {
    width: auto;
    align-self: flex-end;
    margin: 0 auto 150px auto;
}

.roles_text {
    position: absolute;
    z-index: 0;
    width: 90%;
    bottom: 10%;
}

/*********** HOME PROJECTS**********/
.paint_splash {
    width: 400px;
    float: right;
}
.home_projects {
    width: 100%;
    height: 100vh;
    background-color: white;
    -webkit-box-shadow: 0px -6px 5px -1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px -6px 5px -1px rgba(0,0,0,0.15);
    box-shadow: 0px -6px 5px -1px rgba(0,0,0,0.15);
}


/********** SCROLL BAR ***********/

body::-webkit-scrollbar {
    width: 0.5em;
}
   
body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
}

/********** PROJECTS GRID ***********/
.projects_grid {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}
